profiles {
    spack        { includeConfig 'configs/spack.config'        }
    charliecloud { includeConfig 'configs/charliecloud.config' }
    conda        { includeConfig 'configs/conda.config'        }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    local        { executor.name = 'local'                     }
}

// default params
params {
    params.publish_dir_mode = 'copy'
    params.samplesheet = true
    params.out = './results'
    
    // Optional steps
    params.model = null
    params.aligner = false
    params.pileup_method = false
    params.bedgraph = false
    params.pb_all = false
    params.no_trim = false

}
