charliecloud.enabled = true

process {
    withName: 'SAMTOOLS_.*' {
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0"
    }
    
    withName: 'MODKIT_.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:f7fb1fa7"
    }

    withName: DORADO_ALIGNER {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:8bce989f"
    }    

    

}


process {
  if (params.use_charlie) {

      withName: 'SAMTOOLS_.*' {
          container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0"
      }

      withName: ‘MODKIT_.*'{
          container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:f7fb1fa7"
      }

      withName: DORADO_ALIGNER {
          container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:8bce989f"
      }
      
      withName:PORECHOP {
        charlie.enabled = false
        charliecloud.enabled = true
        conda = 'porechop=0.2.4'
        conda = '"pigz=2.8"'
      }
  }
}


charlie {
    enabled = params.use_charlie
}
