charliecloud.enabled = true

process {
    withName: 'SAMTOOLS_.*' {
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0"
    }
    
    withName: 'MODKIT_.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:923af692"
    }

    withName: DORADO_ALIGNER {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:8bce989f"
    }    

    

}


process {
  if (params.use_charlie) {

      withName: 'SAMTOOLS_.*' {
          container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0"
      }

      withName: ‘MODKIT_.*'{
          container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:923af692"
      }

      withName: DORADO_ALIGNER {
          container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:8bce989f"
      }
      
      withName:PORECHOP {
        charlie.enabled = false
        charliecloud.enabled = true
        conda = 'porechop=0.2.4'
        conda = '"pigz=2.8"'
      }
  }
}

changes 


process {
  withName: 'SAMTOOLS_.*' {
	cpus = {16 * task.attempt }
	memory = { 32.GB * task.attempt }
  time = { 2.h * task.attempt }
  }
}

process {
  withName: PORECHOP {
	cpus = {16 * task.attempt }
	memory = { 32.GB * task.attempt }
  time = { 3.h * task.attempt }
  }
}

process {
  withName: 'MODKIT_.*' {
	cpus = {16 * task.attempt }
	memory = { 32.GB * task.attempt }
  time = { 4.h * task.attempt }
  }
}

process {
  withName: DORADO_ALIGNER {
	cpus = {28 * task.attempt }
	memory = { 64.GB * task.attempt }
  time = { 24.h * task.attempt }
  }
}

process {
  withName: FRAC_BED {
	cpus = {4 * task.attempt }
	memory = { 32.GB * task.attempt }
  time = { 4.h * task.attempt }
  }
}