charliecloud.enabled = true

process {
    withName: 'SAMTOOLS_.*' {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
    }
    
    withName: 'MODKIT_.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:9f5e9448"
    }

    withName: DORADO_ALIGNER {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:5705c6ee"
    }    

    withName: PORECHOP {
        container = 'gitlab.lrz.de:5005/beckerlab/container-playground/porechop_pigz:67602f4c'
    }   

    withName: 'PBMM2' {
        container = "quay.io/biocontainers/pbmm2:1.14.99--h9ee0642_0"
    }

    withName: 'MINIMAP2' {
        container = "quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0"
    }

    withName: 'PB_CPG_TOOLS' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/pb-cpg-tools:0e7b7fac"
    }

}