charliecloud.enabled = true

process {
    withName: 'SAMTOOLS_.*' {
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0"
    }
    
    withName: 'MODKIT_.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/modkit:923af692"
    }

    withName: DORADO_ALIGNER {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/dorado:46903570"
    }    

    withName: PORECHOP {
        container = 'gitlab.lrz.de:5005/beckerlab/container-playground/porechop_pigz:67602f4c'
    }   

    

}